body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cambia el color de fondo a gris claro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white; /* Ajusta el color de fondo del contenedor */
}

.header {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 10px;
}

.search-section {
    margin-top: 20px;
}

.actividades-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.actividades-table th,
.actividades-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.actividades-table th {
    background-color: #f2f2f2;
}

.return-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff3333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-buscar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
