<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTIVIDADES POR ACEPTAR</title>
    <link rel="stylesheet" href="../static/style/ActividadesAceptar.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/punto.png" alt="Icono" class="icon">
        <h2 class="title">ACTIVIDADES POR ACEPTAR</h2>
        <table>
            <thead>
                <tr>
                    <th class="center">ID ACTIVIDAD</th>
                    <th class="center">ACTIVIDAD</th>
                    <th class="center">COLONIA</th>
                    <th class="center">CODIGO POSTAL</th>
                    <th class="center">FECHA ASIGNACION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button onclick="window.location.href = 'MenuAdmin.html';" class="return-button"><b>VOLVER</b></button>
        <div class="button-container">
            <button class="aceptar-button">ACEPTAR</button>
            <button class="rechazar-button">RECHAZAR</button>
        </div>
    </div>
</body>
</html>
