<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Colonias</title>
    <link rel="stylesheet" href="../static/style/GestionColonias.css">
    <script src="../static/js/sweetalert2.all.min.js"></script>
    <script src ="../static/js/jquery-3.4.1.js"></script>
    <script src ="../static/js/popper.min.js"></script>
    <script src="../static/js/GestionColonias.js"></script>
</head>
<body>
    <div class="container">
        <img src="../static/img/punto.png" class="icono">
        <h1>GESTION DE COLONIAS</h1>
        <div class="contenedor-gris">
            <h2 class="subtitulo">ESCRIBA EL NOMBRE DE LA COLONIA PARA CONSULTAR SU ID:</h2>
            <input type="text" id="nombreColonia">
            <button id="btnConsultar" class="boton-naranja">Consultar Colonia</button>
        </div>
        <table id="tabla">
            <thead>
                <tr>
                    <th>ID COLONIA</th>
                    <th>NOMBRE</th>
                    <th>CIUDAD</th>
                    <th>CODIGO POSTAL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="contenedor-agregar">
            <label for="idColonia">ID:</label>
            <input type="text" id="idColonia">
            <button id="btnAgregar" class="boton-verde">AGREGAR</button>
        </div>
    </div>

    <button onclick="window.location.href = 'menuAdmin';" class="boton-rojo"><b>MENU</b></button>
    <button onclick="window.location.href = 'colonias';" class="boton-naranja"><b>VER COLONIAS</b></button>
</body>
</html>
