<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Cuadrillas</title>
    <link rel="stylesheet" href="../static/style/GestionCuadrillas.css">
</head>
<body>
    <div class="container">
        <img src="../static/img/punto.png" class="icono">
        <h1>Gestión de Cuadrillas</h1>
        <img src="../static/img/unido (1).png" class="imagen">
        <div class="contenedor-amarillo">
            <h2 class="subtitulo">ID DE CUADRILLA:</h2>
            <input type="text" id="idCuadrilla">
            <h2 class="subtitulo">NOMBRE DE LA CUADRILLA:</h2>
            <input type="text" id="nombreCuadrilla">
            <h3>SELECCIONE UN JEFE DE CUADRILLA</h3>
            <select id="jefeCuadrilla">
                {% if not jefes %}
                <option value="0">Da de alta un Jefe!</option>
                {% else %}
                {% for jefe in jefes%}
                <option value="{{jefe[0]}}">{{jefe[1]}} {{jefe[2]}}</option>
                {% endfor %}
                {% endif %}
            </select>
            <h3>MIEMBROS DISPONIBLES PARA SU CUADRILLA</h3>
            <select id="miembrosDisponibles">
                {% if not trabajadores %}
                    <option value="0">Da de alta un trabajador!</option>
                {% else %}
                    {% for trabajador in trabajadores %}
                    <option value="{{trabajador[0]}}">{{trabajador[1]}} {{trabajador[2]}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="boton-azul">
                <span style="font-weight: bold;">Agregar Empleado</span>
            </button>
            <h3>SU CUADRILLA SE CONFORMA POR</h3>
            <textarea id="cuadrilla" rows="4" readonly></textarea>
            <h3>Id del empleado que desea eliminar de la cuadrilla:</h3>
            <input type="text">
            <button class="boton-rojo">
                <span style="font-weight: bold;">Eliminar Empleado</span>
            </button>
        </div>
        <div class="contenedor-morado">
            <button class="boton-verde">
                <img src="../static/img/disco-flexible.png" alt="Guardar"><br>
                <span style="font-weight: bold;">Guardar</span>
            </button>
            <button class="boton-azul">
                <img src="../static/img/busqueda-de-datos.png" alt="Consultar"><br>
                <span style="font-weight: bold;">Consultar</span>
            </button>
            <button class="boton-amarillo">
                <img src="../static/img/actualizar.png" alt="Actualizar"><br>
                <span style="font-weight: bold;">Actualizar</span>
            </button>
            <button class="boton-rojo">
                <img src="../static/img/boton-eliminar.png" alt="Eliminar"><br>
                <span style="font-weight: bold;">Eliminar</span>
            </button>
        </div>
    </div>
    <button onclick="window.location.href = 'menuAdmin';" class="boton-rojo"><b>MENU</b></button>
    <button onclick="window.location.href = 'cuadrillas';" class="boton-naranja"><b>VER CUADRILLAS</b></button>

</body>
</html>
