<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORTE DE ACTIVIDADES</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/ReporteActividades.js"></script>
    <link rel="stylesheet" href="../static/style/ReporteActividdaes.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="../static/img/punto.png" alt="Icono" class="icon">
            <h2 class="title">REPORTE DE ACTIVIDADES</h2>
        </div>
        <div class="search-section" hidden>
            <label for="buscarEvidencia"><b>BUSCAR EVIDENCIA POR ID:</b></label>
            <input type="text" id="buscarEvidencia">
            <button class="boton-buscar">BUSCAR</button>
        </div>
        <table class="actividades-table">
            <thead>
                <tr>
                    <th class="center">ID ACTIVIDAD</th>
                    <th class="center">ACTIVIDAD</th>
                    <th class="center">JEFE CUADRILLA</th>
                    <th class="center">CUADRILLA</th>
                    <th class="center">COLONIA</th>
                    <th class="center">CODIGO POSTAL</th>
                    <th class="center">FECHA ASIGNACION</th>
                    <th class="center">COMENTARIOS</th>
                    <th class="center">IMAGEN</th>
                    <th class="center">ESTATUS</th>
                </tr>
            </thead>
            <tbody>
                {% if not actividades %}
                {% else %}
                {% for actividad in actividades %}
                <tr>
                    <td>{{actividad[0]}}</td>
                    <td>{{actividad[1]}}</td>
                    <td>{{actividad[2]}}</td>
                    <td>{{actividad[3]}}</td>
                    <td>{{actividad[4]}}</td>
                    <td>{{actividad[5]}}</td>
                    <td>{{actividad[6]}}</td>
                    {% if not actividad[7] %}
                    <td>No hay comentarios disponibles</td>
                    {% else %}
                    <td>{{actividad[7]}}</td>
                    {% endif %}
                    {% if not actividad[8] %}
                    <td>No hay imagen disponible</td>
                    {% else %}
                    <td><img src="../static/img/{{actividad[8]}}" alt="imagenTrabajo" height="200px" width="200px"></td>
                    {% endif %}
                    <td>{{actividad[9]}}</td>
                </tr>
                {% endfor %}
                {%endif%}
            </tbody>
        </table>

        <div>
            <h2>Grafica del estatus de las actividades:</h2>
            <canvas id="myPieChart" width="400" height="400"></canvas>
        </div>
        <button onclick="window.location.href = 'menuAdmin';" class="return-button"><b>VOLVER</b></button>
    </div>
    <label id="numEsperaConfirmacion" hidden>{{numEsperaConfirmacion[0][0]}}</label>
    <label id="numPendiente" hidden>{{numPendiente[0][0]}}</label>
    <label id="numFinalizado" hidden>{{numFinalizado[0][0]}}</label>
    <label id="numCancelado" hidden>{{numCancelado[0][0]}}</label>
</body>
</html>
