<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> VER ASIGNACIONES</title>
  <link rel="stylesheet" href="../static/style/VerAsignaciones.css">
</head>
<body>
  <div class="container">
    <img src="../static/img/punto.png" alt="Icono" class="icon">
    <h2 class="title">ASIGNACIONES</h2>
    <table>
      <thead>
        <tr>
            <th class="center">ID ACTIVIDAD </th>
            <th class="center">ACTIVIDAD</th>
            <th class="center">CUADRILLA</th>
            <th class="center">COLONIA</th>
            <th class="center">FECHA ASIGNACION</th>
            <th class="center">ESTATUS</th>
          </tr>
      </thead>
      <tbody>
        {% if not actividades %}
        <h2>No se encontro ninguna actividad!</h2>
        {% else %}
        {% for actividad in actividades %}
        <tr>
          <td>{{actividad[0]}}</td>
          <td>{{actividad[1]}}</td>
          <td>{{actividad[2]}}</td>
          <td>{{actividad[3]}}</td>
          <td>{{actividad[4]}}</td>
          <td>{{actividad[5]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <button onclick="window.location.href = 'gestionActividades';" class="return-button"><b>VOLVER</b></button>
  </div>
</body>
</html>
