<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> VER CUADRILLAS</title>
  <link rel="stylesheet" href="../static/style/VerCuadrillas.css">
</head>
<body>
  <div class="container">
    <img src="../static/img/punto.png" alt="Icono" class="icon">
    <h2 class="title">CUADRILLAS</h2>
    <table>
      <thead>
        <tr>
            <th class="center">ID CUADRILLA</th>
            <th class="center">NOMBRE</th>
            <th class="center">JEFE DE CUADRILLA</th>
            <th class="center">INTEGRANTES DE LA CUADRILLA</th>
          </tr>
      </thead>
      <tbody>
      
         <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
         </tr>
      </tbody>
    </table>
    <button onclick="window.location.href = 'gestionCuadrillas';" class="return-button"><b>VOLVER</b></button>
  </div>
</body>
</html>
