<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> VER CUADRILLAS</title>
  <link rel="stylesheet" href="../static/style/VerColonias.css">
</head>
<body>
  <div class="container">
    <img src="../static/img/punto.png" alt="Icono" class="icon">
    <h2 class="title">COLONIAS</h2>
    <table>
      <thead>
        <tr>
            <th class="center">ID COLONIA </th>
            <th class="center">NOMBRE</th>
            <th class="center">CIUDAD</th>
            <th class="center">CODIGO POSTAL</th>
            <th class="center">LATITUD</th>
            <th class="center">LONGITUD</th>
          </tr>
      </thead>
      <tbody>
        {% for colonia in colonias %}
        <tr>
          <td>{{colonia[0]}}</td>
          <td>{{colonia[2]}}</td>
          <td>{{colonia[6]}}</td>
          <td>{{colonia[1]}}</td>
          <td>{{colonia[7]}}</td>
          <td>{{colonia[8]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button onclick="window.location.href = 'gestionColonias';" class="return-button"><b>VOLVER</b></button>
  </div>
</body>
</html>
